RewriteEngine On
RewriteBase /inventory-frontend/
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

Options -Indexes

<IfModule mod_headers.c>
 Header always unset Server
 Header unset Server
 Header always unset X-Powered-By
 Header unset X-Powered-By
</IfModule>